---
import { getCollection } from 'astro:content';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// cuando da error por no poder encontrar la coleccion, se puede usar el comando pnpm astro sync para sincronizar los datos de las colleciones (y otros)
const books = await getCollection('books');
---

<Layout>
  <!-- <Welcome /> -->
  <main>
    <h1 class="text-center text-7xl font-extrabold p-20 mb-24">
      Dev 🧑🏻‍💻
      <span class="block">Books</span>
    </h1>

    <section aria-label="Libros recomendados para programadores">
      <div class="px-4 mx-auto max-w-screen-xl">
        <div class="grid gap-6 md:grid-cols-2">
          {
            books.map((book) => {
              const { id, data } = book;
              const { title, img, description, readtime } = data;

              return (
                <article class="flex gap-4">
                  <a
                    href={`/libro/${id}`}
                    class="mb-2 xl:mb-0 transition hover:scale-110"
                  >
              <!-- con transition:name se pueden identificar las trasiciones. el nombre debe ser unico, por ello en esta ocasion lo estamos diferenciando con el id de la collection. Luego en el elemento de la otra pagina se debe usar el mismo transition:name -->
                    <img transition:name={`img-${id}`} src={`/${img}`} alt={title} class="w-48 rounded" />
                  </a>

                  <div class="flex flex-col justify-center">
                    <h2 class="mb-2 text-2xl font-bold leading-tight text-white">
                      {title}
                    </h2>

                    <p class="mb-4 text-gray-300 max-w-sm">{description}</p>
                    <span class="text-xs">⌛ Lectura en {readtime} minutos</span>
                  </div>
                </article>
              );
            })
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
